# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt
import os

## 1. Load data

In [2]:
# change working directory
os.chdir("/Users/oliviawang/Documents/Hotel_booking_prediction_Python")

In [3]:
df = pd.read_csv("hotel_bookings.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head() # check the head of the data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015

## 2. Data Cleaning

Look out for: missing values; data-type; structural error; duplicated values

In [6]:
df.shape

(119390, 32)

In [7]:
# check missing values for each column 
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

 'children', 'country', 'agent', 'company' have missing values

In [8]:
# drop 'agent' and 'company'
df.drop(['agent', 'company'], axis = 1, inplace = True)

In [9]:
# fill the missing values in 'country' with its mode
country_mode = df['country'].value_counts().index[0] # the mode is 'PRT'
country_mode

'PRT'

In [10]:
df['country'].fillna(country_mode, inplace = True)

In [11]:
children_mode = df['children'].value_counts().index[0] # the mode is 0.0
children_mode

0.0

In [12]:
df['children'].fillna(country_mode, inplace = True)

In [13]:
# check for missing values again 
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

## 3. Remove  irrelevant observations

In [16]:
# when 'adults', 'children', 'babies' are 0
filter1 = (df['adults'] == 0) & (df['children'] == 0) & (df['babies'] == 0)
df_updated = df[~filter1]

In [19]:
df_updated.shape

(119210, 30)

In [20]:
%store df_updated

Stored 'df_updated' (DataFrame)

In [21]:
%store df

Stored 'df' (DataFrame)